<!DOCTYPE html>

<html lang="en">
  	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Spacebin — Pulsar</title>

		<link rel="stylesheet" href="./milligram.css" />
		<link rel="stylesheet" href="./pulsar.css" />

		<link rel="icon" type="image/png" href="favicon.ico">

		<!-- OpenGraph Meta information -->
		<meta property="og:title" content="Text sharing for the final frontier">
		<meta property="og:site_name" content="spaceb.in">
		<meta property="og:url" content="spaceb.in">
		<meta property="og:type" content="product">
		<meta property="og:description" content="Spacebin is a highly-reliable pastebin server, built with TypeScript, that's capable of serving notes, code, or any other documents. ">
		<meta property="og:color" content="#e34b4a">
		<meta property="theme-color" content="#e34b4a">
		<meta property="og:image" content="spacebin-small.png">

		<!-- Generic Meta information -->
		<meta name="description" content="Spacebin is a highly-reliable pastebin server, built with TypeScript, that's capable of serving notes, code, or any other documents.">
	</head>

	<body>
		<main class="container clearfix">
			<h1>Spacebin — Pulsar</h1>

			  <section class="document">
				<pre><code>{{.Document}}</code></pre>

				<div class="float-right">
					<a rel="noreferrer noopener" class="button" href="/">Home</a>
					<a target="_blank" rel="noreferrer noopener" class="button button-outline" href="https://github.com/spacebin-org/spacebin">More Info</a>
					<a rel="noreferrer noopener" class="button button-outline" href="/{{.ID}}/raw">Raw</a>
				</div>
			</section>
		</main>
	</body>
</html>
