<main class="container clearfix">
  <h1>Spacebin — Pulsar</h1>

  <article>
    Spacebin is a powerful, versatile and reliable text-sharing service. Spacebin by itself doesn't do much, if you want to use it you need a client.

    That's what Pulsar is, a light-weight and simple client for Spacebin.
  </article>

  <section class="document">
    <pre><code>{{ content }}</code></pre>

    <div class="float-right">
      <a rel="noreferrer noopener" class="button" href="/">Home</a>
      <a target="_blank" rel="noreferrer noopener" class="button button-outline" href="https://github.com/spacebin-org/spacebin">More Info</a>
    </div>
  </section>
</main>
