<main class="container clearfix">
  <h1>Spacebin — Pulsar</h1>

  <form method="POST" action="/upload" enctype="multipart/form-data">
    <textarea required name="content" placeholder="Type something here.."></textarea>

    <div class="float-right">
      <input type="submit" value="Submit">
      <a target="_blank" rel="noreferrer noopener" class="button button-outline" href="https://github.com/spacebin-org/spacebin">More Info</a>
    </div>
  </form>
</main>
