:root {
  --font-family: "Fira Mono", "Source Code Pro", "Inconsolata", "Fira Code", "Consolas", "Menlo", "Monaco", monospace;
  --font-size: 17px;
  --line-height: 1.3;

  --color-line-numbers: #454545;
  --color-links: #91AADF;
  --color-foreground: #DEDEDE;
  --color-background: #121212;
}

* {
  font-size: var(--font-size);
  line-height: var(--line-height);
}

body {
  background: var(--color-background);
  padding: 20px 50px;
  margin: 0;
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--color-foreground);
}

textarea {
  background: transparent;
  border: none;
  color: var(--color-foreground);
  padding: 0;
  width: 100%;
  height: 93.5vh;
  outline: none;
  resize: none;
  margin-top: 0;
  margin-bottom: 0;
  display: inline;
}

#line-numbers {
  color: var(--color-line-numbers);
  z-index: -1000;
  position: absolute;
  top: 20px;
  left: 0;
  width: 30px;
  text-align: right;
}

pre {
  padding: 0;
  margin: 0;
  width: 100%;
  outline: none;
  overflow: inherit;
  display: block;
}

pre code {
  padding: 0;
  background: transparent;
}

button {
  background: none;
  padding: 0;
  margin: 0;
  border: none;
  color: var(--color-links);
  font-size: var(--font-size);
}

button:hover, button:focus {
  cursor: pointer;
}
