:root {
  --font-family: "Fira Mono", "Source Code Pro", "Inconsolata", "Fira Code", "Consolas", "Menlo", "Monaco", monospace;
  --font-size: 17px;

  --color-light-gray: #454545;
  --color-yellow: #F0D50C;
  --color-lime: #D8FA3B;
  --color-blue: #91AADF;
  --color-light-blue: #B7CBF4;
  --color-red: #821A1A;
  --color-purple: #CF73E6;
  --color-orange: #F66100;
  --color-green: #57BA37;
  --color-white: #DEDEDE;
  --color-black: #121212;
  --color-gray: #272727;
}

body {
  background: var(--color-black);
  padding: 20px 50px;
  margin: 0;
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--color-white);
}

textarea {
  background: transparent;
  border: none;
  color: var(--color-white);
  padding: 0;
  width: 100%;
  height: 93.5vh;
  outline: none;
  resize: none;
  margin-top: 0;
  margin-bottom: 0;
  display: inline;
}

#line-numbers {
  color: var(--color-light-gray);
  z-index: -1000;
  position: absolute;
  top: 20px;
  left: 0;
  width: 30px;
  text-align: right;
}

pre {
  padding: 0;
  margin: 0;
  width: 100%;
  outline: none;
  overflow: inherit;
  display: block;
}

pre code {
  padding: 0;
  background: transparent;
}
